body{

	margin: 3;padding:18;
font-family: arial;
color: darkred;
font-size: 27px;
}
.menu{
	list-style: none;
	border: 1px solid #c0c0c0;
	float: left;
}
.menu li{
	position: relative;
	float: left;
	border-right: 1px solid#c0c0c0	;

	
}
menu li a{color: yellow;text-decoration: none;padding: 10px  10px; display:block ;}
.menu li a:hover{
	background: black;
	color: #fff;
	-moz-box-shadow: 0 100px 10px 0 #CCC;
	-webkit-box-shadow: 0 100px  10px 0 #ccc;
	text-shadow: 10px 10px 5px #fff;

}
.menu li ul{
	position: relative;
	top: 100px;
	left: 0;
	background-color: red;
	display: none;
}
.menu li ul li{
	bolder: 0px solid #c0c0c0;
	display: block;
	width: 7 px;
}